.filter-bar {
    display: flex;
    gap: 12px;
    margin-top: 30px;
    overflow-x: auto;
    padding-bottom: 10px;
}

.filter-item {
    padding: 8px 16px;
    background: #fff;
    border-radius: 20px;
    border: 1px solid #eee;
    color: var(--color-text-secondary);
    white-space: nowrap;
    transition: 0.3s;
}

.filter-item.active,
.filter-item:hover {
    background: var(--color-primary);
    color: #fff;
    border-color: var(--color-primary);
}

.page-content {
    margin-top: 40px;
}

/* Pagination */
.pagination {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.pagination__list {
    display: flex;
    align-items: center;
    gap: 8px;
}

.pagination__item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-primary);
    border: 1px solid var(--color-border);
    padding: 4px 8px;
    border-radius: 4px;
    transition: 0.3s;
}

.pagination__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid var(--color-border);
    color: var(--color-text-primary);
    background: var(--color-surface);
    transition: 0.3s;
}

.pagination__btn:hover,
.pagination__item:hover,
.pagination__item.active {
    background: var(--color-primary-light);
    color: var(--color-surface);
}

.pagination__item.active {
    pointer-events: none;
}

.disable {
    pointer-events: none;
    opacity: 0.3;
}
