.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__content {
    width: 55%;
}

.hero__heading {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.4;
}

.hero__name {
    background: linear-gradient(to right, #07aeea 0%, #2bf598 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.hero__desc {
    margin-top: 10px;
    color: var(--color-text-secondary);
    font-size: 1.6rem;
    line-height: 1.4;
    width: 550px;
}

.hero__cta {
    display: flex;
    gap: 15px;
}

.hero__cta .btn {
    flex-shrink: 0;
}

/* Statistic */
.statistic__list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 40px;
    margin-top: 40px;
}

.statistic__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 30px;
    border: 1px solid var(--color-border);
    border-radius: 30px;
    background: var(--color-surface);
    transition: 0.3s;
}

.statistic__card:hover {
    border-color: transparent;
    transform: translateY(-20px);
    box-shadow: 0px 36px 80px 0px rgba(111, 120, 111, 0.2);
}

.statistic__card i {
    font-size: 2.2rem;
}

.statistic__title {
    color: var(--color-text-primary);
    font-weight: 500;
    font-size: 1.8rem;
}

.statistic__desc {
    font-size: 1.4rem;
    color: var(--color-text-secondary);
    width: 250px;
    text-align: center;
}

.statistic__card strong {
    margin-top: auto;
    font-weight: 700;
    font-size: 2.2rem;
    color: var(--color-primary);
}

/* Recent Documents */
.recent__label {
    margin-top: 20px;
    color: var(--color-text-secondary);
    font-size: 1.4rem;
    text-align: center;
}

.recent__list {
    margin-top: 40px;
}
