@keyframes wave-animation {
    0% {
        transform: rotate(0);
    }

    10% {
        transform: rotate(18deg);
    }

    20% {
        transform: rotate(-10deg);
    }

    30% {
        transform: rotate(18deg);
    }

    40% {
        transform: rotate(-5deg);
    }

    50% {
        transform: rotate(12deg);
    }

    60% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(0);
    }
}
