* {
    box-sizing: border-box;
}

:root {
    --color-primary: #1e88e5;
    --color-primary-dark: #1565c0; /* hover */
    --color-primary-light: #42a5f5;

    --color-accent: #ffc107;
    --color-accent-dark: #ffa000;

    --color-bg: #f5f5f5;
    --color-surface: #ffffff;

    --color-text-primary: #212121;
    --color-text-secondary: #757575;

    --color-success: #4caf50;
    --color-error: #f44336;
    --color-border: #e0e0e0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background: var(--color-bg);
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
}

/* common */
input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    gap: 6px;
}

.logo img {
    width: 36px;
    height: 36px;
    object-fit: cover;
}

.logo span {
    color: var(--color-primary);
    font-size: 2.4rem;
    font-weight: bold;
}
