.header {
    position: sticky;
    top: 0;
    z-index: 999;
    background: var(--color-surface);
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
}

.header__logo {
    width: 200px;
}

.header__right {
    display: flex;
    align-items: center;
    gap: 15px;
    /* margin-left: auto; */
}

.header__search-wrapper {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border: 1px solid var(--color-border);
    border-radius: 999px;
    min-width: 350px;
}

.header__search {
    flex: 1;
    padding: 0 8px;
    border: none;
    background: transparent;
    outline: none;
}

.header__search-wrapper:focus-within {
    outline: 2px solid #333;
    border-color: transparent;
}

.avatar-wrapper {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.bell-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.bell-wrapper i {
    font-size: 1.8rem;
}

.bell-wrapper:hover {
    background: rgba(66, 165, 245, 0.3);
}

.avatar {
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
}
