.sidebar {
    position: fixed;
    width: 200px;
    height: calc(100% - 88px);
    background: var(--color-surface);
    margin-left: 24px;
    margin-top: 12px;
    padding: 8px 0;
    border-radius: 12px;
}

.sidebar__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 8px;
}

.sidebar__link {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px;
    border-radius: 12px;
    color: var(--color-text-primary);
    transition: 0.3s;
    font-size: 1.4rem;
}

.sidebar__link i {
    font-size: 1.6rem;
}

.sidebar__link:hover {
    background: #e3f2fd;
    color: var(--color-primary);
}

.sidebar__link--active {
    background: #e3f2fd;
    color: var(--color-primary);
}
