/* common */
body {
    background: #fff;
}

.section-heading {
    font-size: 3.8rem;
    line-height: 1.26;
    color: var(--color-text-primary);
    font-weight: 700;
}

/* Header */
.fixed {
    position: sticky;
    top: 0;
    z-index: 999;
    background: #fcfcfc;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.navbar__link {
    position: relative;
    padding: 12px 20px;
    color: var(--color-text-secondary);
    font-size: 1.6rem;
    line-height: 1.75;
    transition: 0.4s;
}

.navbar__link::after {
    position: absolute;
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 0;
    height: 2px;
    border-radius: 1px;
    background: var(--color-primary);
    transition: 0.4s;
}

.navbar__link:hover {
    text-shadow: 0.5px 0 0 currentColor;
    color: var(--color-primary);
}

.navbar__link:hover::after {
    width: calc(100% - 40px);
}

.actions {
    display: flex;
    align-items: center;
    gap: 12px;
}

.actions__link {
    padding: 8px;
    color: var(--color-text-secondary);
    font-size: 1.6rem;
    line-height: 1.75;
    transition: 0.3s;
}

.actions__link:hover {
    text-shadow: 0.5px 0 0 currentColor;
    color: var(--color-primary);
}

.btn {
    background-image: linear-gradient(
        to right,
        #4cb8c4 0%,
        #3cd3ad 51%,
        #4cb8c4 100%
    );
}
.btn {
    margin: 10px;
    padding: 16px 24px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

/* Hero */
.hero {
    padding: 80px 0;
    background: #fffcf4;
}

.hero__inner {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 100px;
}

/* Hero Left */
.hero__left {
    margin-left: 100px;
}

.hero__heading {
    color: var(--color-text-primary);
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -0.02em;
}

.hero__desc {
    margin-top: 25px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.hero__cta {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 25px;
}

.hero__link {
    color: var(--color-text-primary);
    font-weight: 600;
    font-size: 1.6rem;
}

/* Hero right */
.hero__img {
    width: 470px;
    height: 600px;
    object-fit: cover;
    border-radius: 20px;
}

/* Features */
.features {
    padding: 80px 0;
}

.features__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 60px;
    gap: 40px 20px;
}

.features-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px 20px;
    text-align: center;
    border: 1px solid var(--color-border);
    border-radius: 999px;
    transition: 0.4s;
}

.features-item:hover {
    box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
    border-color: transparent;
    transform: translateY(-20px);
}

.features-item__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(21, 101, 192, 0.15);
}

.features-item__icon i {
    font-size: 2.5rem;
    color: var(--color-primary);
}

.features-item__title {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--color-primary);
}

.features-item__desc {
    color: var(--color-text-secondary);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
    width: 280px;
}

/* Benefit */
.benefit {
    padding: 80px 0;
}

.benefit__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 60px;
    gap: 40px;
}

.benefit__item {
    display: flex;
    align-items: center;
    gap: 15px;
}

.benefit__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--color-success);
    flex-shrink: 0;
}

.benefit__icon i {
    color: var(--color-surface);
}

.benefit__title {
    font-size: 1.8rem;
    font-weight: 600;
}

.benefit__desc {
    font-size: 1.4rem;
    color: var(--color-text-secondary);
    margin-top: 10px;
}

/* Who */
.who {
    padding: 80px 0;
}

.who__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 200px;
    margin-top: 60px;
}

.who__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 102px;
    height: 106px;
    border-radius: 15px;
}

.who__item:first-child .who__icon {
    background: #ffc147;
}

.who__item:nth-child(2) .who__icon {
    background: #ff947a;
}

.who__item:last-child .who__icon {
    background: #bf83ff;
}

.who__icon i {
    font-size: 4rem;
    color: var(--color-surface);
}

.who__title {
    margin-top: 26px;
    color: var(--color-text-primary);
    font-size: 2rem;
    font-weight: 600;
}

.who__desc {
    margin-top: 16px;
    color: #9da6a5;
    font-size: 1.6rem;
    line-height: 1.69;
}

/* FAQ */
.faq {
    padding: 80px 0;
}

.faq__item {
    border-bottom: 2px solid #000;
}

.faq__list {
    margin-top: 60px;
}

.faq__question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 12px;
    color: var(--color-text-primary);
}

.faq__question h3 {
    font-weight: 600;
    font-size: 2.2rem;
}

.faq__question:hover {
    background-color: rgba(66, 165, 245, 0.05);
}

.faq__question--active {
    background: rgba(66, 165, 245, 0.05);
    color: var(--color-primary-dark);
}

.faq__question--active i {
    transition: 0.3s;
    transform: rotate(180deg);
}

.faq__answer {
    max-height: 0; /* mặc định đóng */
    overflow: hidden;
    padding: 0 24px; /* chỉ padding ngang khi đóng */
    transition: 0.3s ease; /* hiệu ứng trượt */
}

.faq__item--open .faq__answer {
    max-height: 1000px; /* đủ lớn để chứa nội dung */
    padding: 16px 24px; /* mở thì có padding trên/dưới */
}

.faq__answer p {
    line-height: 1.4;
    padding-bottom: 24px;
}

/* CTA */
.cta {
    background: var(--color-primary-light);
    padding: 80px 0;
}

.cta__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.cta__heading {
    color: #fff;
}

.cta__desc {
    color: #fff;
}

.cta__btn {
    width: 150px;
}

/* Footer */
.footer {
    padding: 80px 0 0;
    background: var(--color-text-primary);
    color: #fff;
}

.footer__list {
    display: flex;
    gap: 200px;
    align-items: start;
}

.footer-item__list {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer__copyright {
    padding: 20px 0 40px;
    text-align: center;
}
